.first>img{
    float: left;
    margin:10px 10px;
    border: 5px black solid;
}
.first p{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:#663399 ;
   font-size: 18px;
    padding-top: 30px;
 
    
}
.first .two{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:#663399 ;
   font-size: 18px;
    padding:0px;
}
.jammu p{
     font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:#663399 ;
    font-weight: lighter;
   font-size: 18px;
    padding:0px;
}
.jammu>img{
    float: right;
    border: 5px black solid ;
}